The notebook is used to create response variable.

In [5]:
import tmdbsimple as tmdb
tmdb.API_KEY = "71e259894a515060876bab2a33d6bdc9"

In [6]:
import imdb as ib
from imdb import IMDb
import pandas as pd
from PIL import Image
from StringIO import StringIO
import requests
import os
import time
from shutil import copyfile
import types
import numpy as np

In [7]:
dir_python_notebook = os.getcwd()
dir_movie_project = os.path.abspath(os.path.join(dir_python_notebook, os.pardir))
dir_data = os.path.join(dir_movie_project, 'data')

# Load data

In [27]:
tmdb_filename = str(dir_data)+'\\drv_tmdb_movie_details_1_20000.json'
imdb_filename = str(dir_data)+'\\drv_imdb_movie_info_1_20000.json'
tmdb_movies = pd.read_json(tmdb_filename)
imdb_movies = pd.read_json(imdb_filename)

In [9]:
imdb_genres = {12: 'Adventure',
 14: 'Fantasy',
 16: 'Animation',
 18: 'Drama',
 27: 'Horror',
 28: 'Action',
 35: 'Comedy',
 36: 'History',
 37: 'Western',
 53: 'Thriller',
 80: 'Crime',
 99: 'Documentary',
 878: 'Sci-Fi',
 9648: 'Mystery',
 10402: 'Music',
 10749: 'Romance',
 10751: 'Family',
 10752: 'War',
 10770: 'TV Movie',
 1: 'Adult',
 2: 'Biography',
 3: 'Film Noir',
 4: 'Game-Show',
 5: 'Musical',
 6: 'News',
 7: 'Reality-TV',
 8: 'Short',
 9: 'Sport',
10: 'Talk-Show'}

In [10]:
items = imdb_genres.items()
imdb_genre_df = pd.DataFrame({'keys': [i[0] for i in items], 'values': [i[1] for i in items]})
imdb_genre_df.columns = ['id','genres']

In [11]:
imdb_genre_df

       id       genres
0   10752          War
1       1        Adult
2       2    Biography
3       3    Film Noir
4       4    Game-Show
5       5      Musical
6       6         News
7       7   Reality-TV
8       8        Short
9       9        Sport
10     10    Talk-Show
11     12    Adventure
12     14      Fantasy
13     16    Animation
14  10770     TV Movie
15     27       Horror
16     28       Action
17  10402        Music
18     35       Comedy
19     36      History
20     37      Western
21   9648      Mystery
22     53     Thriller
23     80        Crime
24     99  Documentary
25     18        Drama
26    878       Sci-Fi
27  10749      Romance
28  10751       Family

# Format data

In [12]:
def get_genre(tmdb_movies ,key):
    tmdb_genre = tmdb_movies[tmdb_movies[key].notnull()][key].tolist()
    tmdb_genre_set = set()
    for g in tmdb_genre:
        if g is not None:
            tmdb_genre_set = tmdb_genre_set.union(set(g))
    tmdb_genre = list(tmdb_genre_set)
    tmdb_genre.sort()
    return(tmdb_genre)

In [13]:
def get_genere_num (row, column_name):
    if row[column_name] is None :
        return 0
    else:
        return len(row[column_name])

In [14]:
def is_genre (row, column_name, genre):
    """check if that movie is in this genre as a movie can have more than 1 genre"""
    if row[column_name] is None :
        return 0
    else:
        if genre in row[column_name] :
            return 1
        else:
            return 0

In [22]:
def get_all_genre (row, column_name, imdb_genre):
    """check a vector for all movie genres"""
    s = ""
    for g in imdb_genre:
        if row[column_name] is None :
            s = s +"0"
        else:
            if g in row[column_name] :
                s = s +"1"
            else:
                s = s +"0"
    return s

In [34]:
imdb_genre = imdb_genre_df['genres'].tolist()
imdb_genre.sort()
imdb_movies[u'genre_num'] = imdb_movies.apply(lambda row: get_genere_num(row,u'genres'), axis=1)

for g in imdb_genre: 
    imdb_movies[g] = imdb_movies.apply(lambda row: is_genre(row,u'genres',g), axis=1)

In [35]:
imdb_movies['all_genre'] = imdb_movies.apply(lambda row: get_all_genre(row,u'genres',imdb_genre), axis=1)

In [50]:
imdb_movies['all_genre'] = imdb_movies['all_genre'].astype('str')

In [51]:
imdb_response_var_filename = str(dir_data)+'\\drv_imdb_response_variable_1_20000.json'
imdb_movies[['imdb_id','tmdb_id','all_genre']+imdb_genre].to_json(path_or_buf= imdb_response_var_filename)